
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AnimeEps.css">
    <title><%=anime.title%></title>
</head>
<body>
    <%-include('includes/nav.ejs')%>
    

    <div class="anime-image">
        <img src="<%=anime.imageUrl%>" alt=" <%=anime.title%>">
    </div>
    
    <div class="episode-box">
        <div class="episode-box">
            <h2>Episodes <%=anime.episodes%></h2>
            <ul>
                <li>Episode 1</li>
                
                <!-- Add more episodes as needed -->
            </ul>
        </div>
    </div>
    
</body>
</html>
